<div class="room-create-button">
  <button [routerLink]="['Create']">Oda ekle</button>
</div>
<div>
  <label for="currency">Para Birimi:</label>
  <select id="currency" [(ngModel)]="selectedCurrency" (change)="updatePrices()">
    <option value="TRY">TRY</option>
    <option value="USD">USD</option>
    <option value="EUR">EUR</option>
  </select>
</div>

<div class="table-wrapper">
  <table class="lg-table">
    <thead>
      <tr>
        <th>Oda tipinin adı</th>
        <th>Oda tipinin kapasitesi</th>
        <th>Aktiflik durumu</th>
        <th>Ücreti</th>
        <th>Oda İşlemleri</th>
        <th>Fotoğraf İşlemleri</th>
        <th>Oda tipi detay işlemleri</th>
        <th>Oda tipi genel işlemleri</th> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let roomType of listRoomTypes">
        <td>{{ roomType.name | translate }}</td>
        <td>{{ roomType.capacity }} Kişilik</td>
        <td>{{ displayStatus(roomType.display) }}</td>
        <td>{{ roomType.pricePerNight | number:'1.2-2' }} {{ selectedCurrency }}</td>
        <td>
          <i class="fa-solid fa-door-open" title="Odalar" (click)="showRooms(roomType.id)"></i>
          <i class="fa-solid fa-door-open" title="Odalar" (click)="showDetail(roomType.id)"></i>
        </td>
        <td>
          <i class="fa-solid fa-image fa-lg" title="Oda tipinin fotoğrafları" (click)="showPhotos(roomType.id)"></i>
        </td>
        <td>
          <i class="fa-solid fa-clipboard-check" title="Oda tipinin detay özellikleri"
            (click)="showFacilityDetailSelection(roomType.id)"></i>
        </td>
        <td>
          <i class="fa-solid fa-pen-to-square fa-lg update" title="Oda tipini düzenle" [routerLink]="['Edit', roomType.id]"></i>
          <i class="fa-solid fa-trash fa-lg delete" title="Oda tipini sil" (click)="delete(roomType.id)"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
