<div class="flex flex-col mb-10">
    <p class="text-3xl font-bold">OTEL BİLGİLERİ</p>
    <p class="text-base">Otel bilgilerinizi kolayca güncelleyin.</p>
</div>

<form [formGroup]="updateForm" (ngSubmit)="update()" class="gap-4 grid grid-cols-1 lg:grid-cols-2 mb-4">

    <div class="form-group">
        <label for="name" class="font-bold">Otel Adı</label>
        <input type="text" class="form-control" id="name" formControlName="name">
        <div *ngIf="updateForm.get('name')?.touched && updateForm.get('name')?.invalid" class="text-danger">
            Otel adı zorunludur ve en az 4 karakter uzunluğunda olmalıdır.
        </div>
    </div>

    <!-- <div class="form-group">
        <label for="stars" class="font-bold">Yıldız</label>
        <input type="number" class="form-control" id="stars" formControlName="stars" min="1" max="5">
        <div *ngIf="updateForm.get('stars')?.touched && updateForm.get('stars')?.invalid" class="text-danger">
            Yıldız zorunludur ve 1 ile 5 arasında bir sayı olmalıdır.
        </div>
    </div> -->

    <div class="form-group">
        <label for="description" class="font-bold">Açıklama</label>
        <textarea class="form-control" id="description" formControlName="description"></textarea>
        <div *ngIf="updateForm.get('description')?.touched && updateForm.get('description')?.invalid"
            class="text-danger">
            Açıklama zorunludur ve en fazla 500 karakter olmalıdır.
        </div>
    </div>

    <div class="form-group">
        <label for="address" class="font-bold">Açık Adres</label>
        <textarea class="form-control" id="address" formControlName="address"></textarea>
        <div *ngIf="updateForm.get('address')?.touched && updateForm.get('address')?.invalid" class="text-danger">
            Adres zorunludur ve en az 10 karakter uzunluğunda olmalıdır.
        </div>
    </div>

    <div class="form-group">
        <label for="checkInTime" class="font-bold">Giriş Saati</label>
        <input type="time" class="form-control" id="checkInTime" formControlName="checkInTime">
        <div *ngIf="updateForm.get('checkInTime')?.touched && updateForm.get('checkInTime')?.invalid"
            class="text-danger">
            Giriş saati zorunludur.
        </div>
    </div>

    <div class="form-group">
        <label for="districtId" class="font-bold">İlçe</label>
        <select class="form-control" id="districtId" formControlName="districtId" (change)="onDistrictChange($event)">
            <option *ngFor="let district of districtList" [value]="district.id">
                {{ district.name }}
            </option>
        </select>
        <div *ngIf="updateForm.get('districtId')?.touched && updateForm.get('districtId')?.invalid" class="text-danger">
            İlçe seçimi zorunludur.
        </div>
    </div>

    <div class="form-group">
        <label for="checkOutTime" class="font-bold">Çıkış Saati</label>
        <input type="time" class="form-control" id="checkOutTime" formControlName="checkOutTime">
        <div *ngIf="updateForm.get('checkOutTime')?.touched && updateForm.get('checkOutTime')?.invalid"
            class="text-danger">
            Çıkış saati zorunludur.
        </div>
    </div>

    <div class="form-group">
        <label for="neighborhoodId" class="font-bold">Mahalle</label>
        <select class="form-control" id="neighborhoodId" formControlName="neighborhoodId">
            <option *ngFor="let neighborhood of filteredNeighborhoodList" [value]="neighborhood.id">
                {{ neighborhood.name }}
            </option>
        </select>
        <div *ngIf="updateForm.get('neighborhoodId')?.touched && updateForm.get('neighborhoodId')?.invalid"
            class="text-danger">
            Mahalle seçimi zorunludur.
        </div>
    </div>

    <div class="flex justify-end col-span-2">
        <button type="submit"
            class="bg-primary-blue hover:bg-primary-blue-hover rounded-lg w-40 h-12 text-lg font-semibold text-primary-white">
            Güncelle
        </button>
    </div>
</form>

<div class="w-full">
    <p class="text-3xl font-bold">OTEL İŞLEMLERİ</p>
    <i class="fa-solid fa-clipboard-check" (click)="showMainFacilitySelection()"></i>

</div>