<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Oda Tipinin Ana Özellikleri</h5>
    <button type="button" class="btn-close text-gray-500 hover:text-gray-800 focus:outline-none" (click)="close()"></button>
  </div>
  <div class="modal-body pt-2">
    <form #selectionForm="ngForm" (ngSubmit)="onSubmit()">
      <div *ngFor="let category of listCategories">
        <h1>{{ category.title }}</h1>
        <div *ngFor="let option of category.roomTypeMainFacilityOption">
          <input type="checkbox" 
          [checked]="isSelected(option.description) || option.display"
          value="{{ category.id }}"
            (change)="onCheckboxChange(option, category)"
           />
          <label>{{ option.description }}</label>
        </div>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
