<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Oda Tipinin Ana Özellikleri</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
  </div>
  <div class="modal-body">

        <label for="cars">Manzara:</label>

<select name="cars" id="cars">
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select>

<label for="cars">Oda Büyüklüğü:</label>

<select name="cars" id="cars">
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select>

<label for="cars">Oda Kapasitesi</label>

<form #selectionForm="ngForm" (ngSubmit)="onSubmit()">
  <div *ngFor="let option of listOptions">
        <input type="checkbox" [checked]="isSelected(option.title)" (change)="onCheckboxChange(option)" id="{{ option.id }}" name="options" [(ngModel)]="option.display" />
        <label for="{{ option.id }}">{{ option.title }} metre kare</label>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
