<div class="wrapper h-screen w-full flex flex-row">
  <!-- Sidebar -->
  <app-sidebar class="" [sidebarOpen]="sidebarOpen"></app-sidebar>

  <!-- Main content area -->
  <div class="flex flex-col w-full">
    <!-- Header -->
    <app-header (toggleSidebar)="onToggleSidebar()" [class.pl-72]="!sidebarOpen" [class.pl-0]="sidebarOpen" class="transition-padding"></app-header>
    
    <!-- Content area -->
    <div class="content pr-20 py-20 flex-1 w-full overflow-y-auto transition-padding" [class.pl-96]="!sidebarOpen" [class.pl-20]="sidebarOpen">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
