<div class="page-container">
  <form [formGroup]="updateForm" (ngSubmit)="update()">
    <div class="close">
      <button routerLink="/Admin/Room-Types">X</button>
    </div>

    <div class="update">
      <label>Oda Tipi Adı</label>
      <input class="update-input" type="text" placeholder="Oda tipi adını yazınız" formControlName="name" />

      <label>Oda Tipi Fiyatı</label>
      <input class="update-input" type="number" placeholder="Oda tipi fiyatını yazınız" formControlName="price" />

      <label>Oda Tipi Açıklaması</label>
      <textarea class="update-input" placeholder="Oda tipi açıklamasını yazınız" tabindex="5"
        formControlName="detail"></textarea>

      <label>Oda Tipi Kapasitesi</label>
      <input class="update-input" type="number" placeholder="Oda tipi kapasitesini yazınız"
        formControlName="capacity" />

      <label>Oda Tipi Durumu</label>
      <div class="radio-group">
        <label>
          <input type="radio" formControlName="display" [value]="true" />
          Aktif
        </label>
        <label>
          <input type="radio" formControlName="display" [value]="false" />
          Pasif
        </label>
      </div>

      <div class="update-button">
        <button type="submit" class="btn btn-primary" [disabled]="!updateForm.valid">Oda Tipini Düzenle</button>
      </div>
    </div>
  </form>
</div>