<div class="page-container">
  <form [formGroup]="createForm" (ngSubmit)="create()">
    <div class="close">
      <button routerLink="/admin/room-types">X</button>
    </div>
    <div class="create">
      <label>Oda Tipi Adı</label>
      <input class="create-input" type="text" placeholder="Oda tipi adını yazınız" formControlName="name" />

      <label>Oda Tipi Fiyatı</label>
      <input class="create-input" type="number" placeholder="Oda tipi fiyatını yazınız" formControlName="price" />

      <label>Oda Tipi Açıklaması</label>
      <textarea class="create-input" placeholder="Oda tipi açıklamasını yazınız" tabindex="5"
        formControlName="detail"></textarea>

      <label>Oda Tipi Kapasitesi</label>
      <input class="create-input" type="number" placeholder="Oda tipi kapasitesini yazınız"
        formControlName="capacity" />

      <label>Oda Tipi Boyutu</label>
      <input class="create-input" type="number" placeholder="Oda tipi boyutunu yazınız" formControlName="size" />

      <label>Oda Yatak Tipi</label>
      <select class="form-control create-select" formControlName="bedTypeId">
        <option value="0" selected>Seçiniz</option>
        <option *ngFor="let bedType of listBedTypes" [value]="bedType.id">{{ bedType.name }}
        </option>
      </select>
      <div class="text-danger" *ngIf="isValid('bedTypeId')">
        <small>
          {{ createForm.get('bedTypeId').getError('categorySelected') }}
        </small>
      </div>

      <label>Oda Manzara Tipi</label>
      <select class="form-control create-select" formControlName="viewTypeId">
        <option value="0" selected>Seçiniz</option>
        <option *ngFor="let viewType of listViewTypes" [value]="viewType.id">{{ viewType.name }}
        </option>
      </select>
      <div class="text-danger" *ngIf="isValid('viewTypeId')">
        <small>
          {{ createForm.get('viewTypeId').getError('categorySelected') }}
        </small>
      </div>

      <label>Oda Tipi Durumu</label>
      <div class="radio-group">
        <label>
          <input type="radio" formControlName="display" [value]="true" />
          Aktif
        </label>
        <label>
          <input type="radio" formControlName="display" [value]="false" />
          Pasif
        </label>
      </div>
      <div class="create-button">
        <button type="submit" class="btn btn-primary" [disabled]="!createForm.valid">Oda Tipi Ekle</button>
      </div>
    </div>
  </form>
</div>