<!-- <section id="home-filter" class="w-full h-full flex">
    <div class="relative w-full h-full flex items-center justify-center">
        <div>
        <img class="w-full rounded-lg object-cover z-0 h-full"
            src="../../../../../assets/img/admin/full-shot-romantic-couple-seaside.jpg" alt="">
        </div>
            <div class="w-full flex justify-center">
            <div class="bg-primary-white h-32 absolute bottom-0 left-0 w-3/4 z-10 justify-center items-center flex">
                <div class="w-full flex items-center flex-col justify-center">
                    <p class="text-lg font-semibold text-primary-white flex justify-start w-full pb-2">Where are you going?
                    </p>
                    <div class="form-group grid grid-rows-3 grid-cols-1 lg:grid-cols-3 lg:grid-rows-1 gap-2.5">
                        <div class="flex items-center shadow-2xl h-9 shadow-accent-dark">
                            <i class="absolute ml-2.5 fa-solid fa-location-dot text-primary-blue text-lg"></i>
                            <input type="text" placeholder="Enter a city name" class="pl-9 h-full rounded-md">
                        </div>
                        <div class="flex items-center shadow-2xl h-9 shadow-accent-dark">
                            <i class="fa-solid fa-star absolute ml-2.5 text-primary-blue text-lg"></i>
                            <input type="text" placeholder="Select stars" class="pl-9 h-full rounded-md">
                        </div>
                        <div class="flex items-center shadow-2xl h-9 shadow-accent-dark">
                            <i class="fa-solid fa-user-group absolute ml-2.5 text-primary-blue text-base"></i>
                            <input type="text" placeholder="2 adults 1 room" class="pl-9 h-full rounded-md">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
         <div
            class="bg-gray-800 bg-opacity-40 backdrop-blur-lg rounded-b-lg sticky w-full bottom-0 h-40 z-10 -translate-y-40 justify-center items-center flex">

        </div>
</section> 

<section id="home-filter" class="w-full h-full flex flex-col relative items-center">
    <img class="w-full rounded-lg object-cover"
        src="../../../../../assets/img/admin/full-shot-romantic-couple-seaside.jpg" alt="">
    <div class="bg-primary-white border-[0.5px] border-primary-blue rounded-lg -translate-y-10 sticky bottom-0 left-0 w-3/4 z-20 h-32">
        <p class="text-lg font-semibold text-primary-white flex justify-start w-full pb-2">Where are you going?
        </p>
        <div class="form-group flex flex-col lg:flex-row gap-2.5 justify-center">
            <div class="flex items-center border-[1px] border-primary-blue h-9 shadow-accent-dark">
                <i class="absolute ml-2.5 fa-solid fa-location-dot text-primary-blue text-lg"></i>
                <input type="text" placeholder="Enter a city name" class="pl-9 h-full rounded-md">
            </div>
            <div class="flex items-center h-9 shadow-accent-dark">
                <i class="fa-solid fa-star absolute ml-2.5 text-primary-blue text-lg"></i>
                <input type="text" placeholder="Select stars" class="pl-9 h-full rounded-md">
            </div>
            <div class="flex items-center h-9 shadow-accent-dark">
                <i class="fa-solid fa-user-group absolute ml-2.5 text-primary-blue text-base"></i>
                <input type="text" placeholder="2 adults 1 room" class="pl-9 h-full rounded-md">
            </div>
        </div>
    </div>
</section> -->

<section id="home-filter"
    class="min-w-80 mx-auto relative border-[0.5px] h-64 lg:h-36 lg:w-large-default justify-center items-center flex bg-primary-blue-light border-primary-blue rounded-lg mb-4">
    <div class="">
        <p class="text-lg lg:text-2xl font-bold text-accent-dark w-full pb-2">Where are you going?
        </p>
        <div class="form-group flex flex-col lg:flex-row justify-center items-center gap-2">
            <div class="flex items-center h-10">
                <i class="fa-solid fa-location-dot absolute ml-2.5 text-primary-blue text-base"></i>
                <select class="pl-9 h-full border-primary-blue border-[1px] focus:border-2 focus:outline-primary-blue rounded-lg"
                    style="width: 200px;" (change)="setCity($event)">
                    <option value="0" selected>Seçiniz</option>
                    <option *ngFor="let city of listCities" [value]="city.id">{{city.name}}</option>
                </select>
            </div>
            <div class="flex items-center h-10">
                <i class="fa-solid fa-star absolute ml-2.5 text-primary-blue text-base"></i>
                <select class="pl-9 h-full border-primary-blue border-[1px] focus:border-2 focus:outline-primary-blue rounded-lg"
                    style="width: 200px;" (change)="setStars($event)">
                    <option value="0" selected>Seçiniz</option>
                    <option *ngFor="let cap of [1, 2, 3, 4, 5]" [value]="cap">{{cap}} Yıldızlı Otel</option>
                </select>
            </div>
            <div class="flex items-center h-10">
                <i class="fa-solid fa-user-group absolute ml-2.5 text-primary-blue text-base"></i>
                <select class="pl-9 h-full border-primary-blue border-[1px] focus:border-2 focus:outline-primary-blue rounded-lg"
                    style="width: 200px;" (change)="setCapacity($event)">
                    <option value="0" selected>Seçiniz</option>
                    <option *ngFor="let cap of [1, 2, 3, 4, 5]" [value]="cap">{{cap}} Kişilik Oda</option>
                </select>
            </div>
            <button
                class="bg-primary-blue p-1 font-bold w-20 h-10 hover:bg-primary-blue-dark hover:shadow-md rounded-lg text-primary-white"
                (click)="applyFilters()">SEARCH</button>
        </div>
    </div>
</section>
