<form [formGroup]="createForm" (ngSubmit)="onSubmit()"
    class="gap-4 grid grid-cols-1 lg:grid-cols-2 mb-4 bg-white shadow-md rounded px-8 pt-6 pb-8">

    <div class="form-group">
        <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Otel Adı</label>
        <input type="text"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            formControlName="name" id="name" placeholder="Otel Adı">
        <div *ngIf="createForm.get('name')?.touched && createForm.get('name')?.invalid"
            class="text-red-500 text-xs italic">
            Otel adı zorunludur ve en az 4 karakter uzunluğunda olmalıdır.
        </div>
    </div>

    <div class="form-group">
        <label for="stars" class="block text-gray-700 text-sm font-bold mb-2">Otel Yıldızı</label>
        <select
            class="block appearance-none w-full bg-white border border-gray-300 hover:border-gray-500 px-3 py-2 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
            formControlName="stars" id="stars">
            <option value="0" selected>Seçiniz</option>
            <option value="1">1 Yıldızlı Otel</option>
            <option value="2">2 Yıldızlı Otel</option>
            <option value="3">3 Yıldızlı Otel</option>
            <option value="4">4 Yıldızlı Otel</option>
            <option value="5">5 Yıldızlı Otel</option>
        </select>
        <div *ngIf="createForm.get('stars')?.touched && createForm.get('stars')?.invalid"
            class="text-red-500 text-xs italic">
            Otel yıldızı zorunludur.
        </div>
    </div>

    <div class="col-span-2 text-right">
        <button type="submit"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            [disabled]="!createForm.valid">Yönetici Oluştur</button>
    </div>
</form>