<div class="relative w-full mb-4">
    <div class="w-full justify-center flex h-12 px-5 lg:px-0 bg-accent-dark text-primary-white">
        <div class="w-full h-full flex justify-between md:justify-end items-center lg:w-large-default gap-16">
            <div class="md:hidden">
                <button id="menu-button" class="text-sm focus:outline-none" (click)="toggleMenu()">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
            <ul class="hidden md:flex flex-row gap-3.5 font-medium">
                <li class="flex flex-row items-center justify-center h-full gap-1.5 cursor-pointer p-1 hover:bg-primary-blue-light rounded-lg"
                    (click)="openLanguageDialog()">
                    <i class="fa-solid fa-earth-americas text-primary-blue"></i>ENG
                </li>
                <li class="flex flex-row items-center gap-1.5 cursor-pointer p-1 hover:bg-primary-blue-light rounded-lg" (click)="openCurrencyDialog()"><i
                        class="fa-solid fa-money-bill-1 text-primary-blue"></i>USD</li>
            </ul>
            <ul class="flex flex-row gap-1">
                <li *ngIf="!isLoggedIn"><a class="text-sm p-0.5 hover:text-primary-blue" routerLink="login">Sign in</a></li>
                <p *ngIf="!isLoggedIn" class="opacity-70">|</p>
                <li *ngIf="!isLoggedIn"><a class="text-sm p-0.5 opacity-70 hover:opacity-100 hover:text-primary-blue" routerLink="register">Sign up</a></li>
                <li *ngIf="isLoggedIn" class="flex items-center">
                    <a class="text-sm p-0.5 opacity-70 hover:opacity-100 hover:text-primary-blue cursor-pointer" (click)="logout()">Log out</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Mobile Menu -->
    <div id="mobile-menu" [ngClass]="{'hidden': !menuOpen}"
        class="md:hidden w-full bg-accent-dark text-primary-white px-4">
        <ul class="flex flex-col items-center text-sm py-2 w-full gap-2">
            <li (click)="openLanguageDialog()"
                class="flex flex-row items-center justify-center gap-1.5 cursor-pointer w-1/2 py-1">
                <i class="fa-solid fa-earth-americas text-primary-blue"></i>ENG
            </li>
            <li (click)="openCurrencyDialog()"
                class="flex flex-row items-center justify-center gap-1.5 cursor-pointer w-1/2 py-1">
                <i class="fa-solid fa-money-bill-1 text-primary-blue"></i>USD
            </li>
        </ul>
    </div>
    <div class="w-full h-18 flex justify-center items-center px-5 bg-slate-200">
        <div class="lg:w-large-default w-full h-full flex justify-start items-center flex-row">
            <a [routerLink]="['/']">
                <span class="flex flex-row text-4xl font-semibold text-primary-blue items-center">Hotel<b
                        class="flex flex-row">N <img class="w-auto h-10 pt-1"
                            src="../../../../../assets/img/logo-clock.png" alt="">w</b>
                </span>
            </a>
        </div>
    </div>
</div>