<div class="modal-header">
  <p class="modal-title font-bold text-lg text-primary-blue">Facility Details</p>
  <button type="button" class="btn-close" aria-label="Close" (click)="closeDialog()"></button>
</div>
<div class="modal-body">
  <div class="">
    <h2>Popüler konaklama yeri imkân ve özellikleri</h2>
    <p *ngFor="let main of listMainSelections">{{main.optionTitle}}</p>
  </div>
  <div *ngFor="let category of listDetailSelections">
    <p class="font-bold text-lg">{{ category.categoryName }}</p>
    <ul>
      <li *ngFor="let option of category.facilityDetailSelection">
        {{ option.optionDescription }}
      </li>
    </ul>
  </div>          
</div>
