<form [formGroup]="createForm" (ngSubmit)="onSubmit()" class="gap-4 grid grid-cols-1 lg:grid-cols-2 mb-4">
    <div class="form-group">
        <label for="name" class="font-bold">E posta</label>
        <input type="text" class="form-control" formControlName="email">
        <div *ngIf="createForm.get('email')?.touched && createForm.get('email')?.invalid" class="text-danger">
            Lütfen email formatında giriniz.
        </div>
    </div>

    <div class="form-group">
        <label for="password" class="font-bold">Şifre</label>
        <i class="fa-solid fa-eye-slash fa-xs ml-2 cursor-pointer" *ngIf="hide" (click)="toPassword()"></i>
        <i class="fa-solid fa-eye fa-xs ml-2 cursor-pointer" *ngIf="!hide" (click)="toPassword()"></i>
        <input type="text" class="form-control" formControlName="password" [type]="hide ? 'password' : 'text'">
        <div *ngIf="createForm.get('password')?.touched && createForm.get('password')?.invalid" class="text-danger">
            Lütfen en az 5 karakterli şifre giriniz.
        </div>
    </div>

    <div class="form-group">
        <label for="firstName" class="font-bold">Ad</label>
        <input type="text" class="form-control" formControlName="firstName">
        <div *ngIf="createForm.get('firstName')?.touched && createForm.get('firstName')?.invalid" class="text-danger">
            Lütfen en az 3 karakterli ad giriniz.
        </div>
    </div>

    <div class="form-group">
        <label for="lastName" class="font-bold">Soyad</label>
        <input type="text" class="form-control" formControlName="lastName">
        <div *ngIf="createForm.get('lastName')?.touched && createForm.get('lastName')?.invalid" class="text-danger">
            Lütfen en az 3 karakterli soyad giriniz.
        </div>
    </div>

    <div class="form-group">
        <label for="birthDate" class="font-bold">Doğum Tarihi</label>
        <input type="date" class="form-control" formControlName="birthDate">
        <div *ngIf="createForm.get('birthDate')?.touched && createForm.get('birthDate')?.invalid" class="text-danger">
            Lütfen geçerli bir tarih giriniz.
        </div>
    </div>

    <div class="form-group">
        <label for="phone" class="font-bold">Telefon Numarası</label>
        <input type="text" class="form-control" formControlName="phone">
        <div *ngIf="createForm.get('phone')?.touched && createForm.get('phone')?.invalid" class="text-danger">
            Lütfen 10 haneli bir telefon numarası giriniz.
        </div>
    </div>

    <div class="form-group">
        <label for="gender" class="font-bold">Cinsiyet</label>
        <select class="form-control" formControlName="gender">
            <option value="0" selected>Seçiniz</option>
            <option value="M">Erkek</option>
            <option value="F">Kadın</option>
        </select>
        <div *ngIf="isValid('gender')" class="text-danger">
            <small>
                {{ createForm.get('gender').getError('categorySelected') }}
            </small>
        </div>
    </div>

    <div class="form-group">
        <label for="hotelId" class="font-bold">Oteller</label>
        <select class="form-control" formControlName="hotelId">
            <option value="0" selected>Seçiniz</option>
        </select>
        <div *ngIf="isValid('hotelId')" class="text-danger">
            <small>
                {{ createForm.get('hotelId').getError('categorySelected') }}
            </small>
        </div>
    </div>

    <div class="create-button">
        <button type="submit" class="btn btn-primary" [disabled]="!createForm.valid">Yönetici Ekle</button>
    </div>
</form>