<section class="lg:w-large-default h-fit flex flex-col gap-3 mb-5">
    <p class="font-extrabold text-2xl lg:lg:text-[26px] text-accent-dark">Explore Türkiye</p>
        <div class="flex flex-col lg:grid lg:grid-cols-2 gap-3 lg:h-1/2">
            <div class="rounded-lg shadow-md flex flex-col relative h-60 lg:h-auto">
                <a href="" class="h-full"> <!-- TODO: add routerlink -->
                <img src="../../../../assets/img/ui/istanbul.webp" alt="Istanbul" class="object-cover w-full h-full rounded-lg brightness-90">
                <p class="lg:text-[26px] text-2xl font-bold text-primary-white absolute top-3 left-4 z-10">Istanbul</p>
            </a>
            </div>
            <div class="rounded-lg shadow-md flex flex-col relative h-60 lg:h-auto">
                <img src="../../../../assets/img/ui/antalya3.jpg" alt="Antalya" class="object-cover w-full h-full rounded-lg brightness-75">
                <p class="lg:text-[26px] text-2xl font-bold text-primary-white absolute top-3 left-4 z-10">Antalya</p>
            </div>
        </div>

        <div class="flex flex-col lg:grid lg:grid-cols-3 gap-3 lg:h-1/2">
            <div class="rounded-lg shadow-md flex flex-col relative h-60 lg:h-auto">
                <img src="../../../../assets/img/ui/mugla2.webp" alt="Mugla" class="object-cover w-full h-full rounded-lg brightness-90">
                <p class="lg:text-[26px] text-2xl font-bold text-primary-white absolute top-3 left-4 z-10">Mugla</p>
            </div>
            <div class="rounded-lg shadow-md flex flex-col relative h-60 lg:h-auto">
                <img src="../../../../assets/img/ui/izmir3.jpg" alt="Izmir" class="object-cover w-full h-full rounded-lg brightness-90">
                <p class="lg:text-[26px] text-2xl font-bold text-primary-white absolute top-3 left-4 z-10">Izmir</p>
            </div>
            <div class="rounded-lg shadow-md flex flex-col relative h-60 lg:h-auto">
                <img src="../../../../assets/img/ui/kapadokya.jpg" alt="Kapadokya" class="object-cover w-full h-full rounded-lg brightness-90">
                <p class="lg:text-[26px] text-2xl font-bold text-primary-white absolute top-3 left-4 z-10">Kapadokya</p>
            </div>
        </div>
</section>