<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Oda Tipinin Detay Özellikleri</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
    </div>
    <div class="modal-body">
        <form #selectionForm="ngForm" (ngSubmit)="onSubmit()">
            <div *ngFor="let category of listCategories; let i = index">
                <h1>{{ category.title }}</h1>
                <div *ngFor="let option of category.roomTypeFacilityOptionResponse; let j = index">
                    <input type="checkbox" [checked]="isSelected(option.description)" id="{{ 'option_' + i + '_' + j }}" name="options" [(ngModel)]="option.display" />
                    <label for="{{ 'option_' + i + '_' + j }}">{{ option.description }}</label>
                </div>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
