<div class="flex flex-col h-screen justify-between items-center">
    <app-navbar class="w-full"></app-navbar>
    <!-- <app-header class="bg-white border-b border-gray-200 dark:bg-gray-900 h-16"></app-header> -->
    <!-- <app-sidebar class="w-64 bg-gray-200 dark:bg-gray-800"></app-sidebar> -->
    <div class="px-5 lg:px-0 m-auto lg:w-large-default flex justify-center">
        <router-outlet></router-outlet>
    </div>
    <app-footer class="bg-white border-t border-gray-200 dark:bg-gray-900"></app-footer>
</div>